<div class="row align-items-end header">
    <div class="col main-nav p-0">
        <nav role="navigation" id="main-nav" class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <h1><a href="https://testaments-de-poilus.huma-num.fr">Testaments de Poilus</a></h1>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav nav nav-justified">
                    <li class="nav-item"><a class="nav-link" >découvrir</a></li>
                    <li class="nav-item"><a class="nav-link" >guides</a></li>
                    <li class="nav-item"><a class="nav-link" >actualités</a></li>
                    <li class="nav-item"><a class="nav-link" >transcrire</a></li>
                    <li class="nav-item"><a class="nav-link" >transcrire</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="col-2 user-nav p-0">
        <div class="header-user">
            <div ng-if="user == null">
                <i class="fa fa-play-circle fa-lg" aria-hidden="true"></i>
                Lancement
            </div>
        </div>

        <nav id="user-nav">
            <ul class="navbar-nav">
                <li ng-if="user == null" class="unlogged">
                    <a class="nav-link">le 30 janvier 2018</a>
                </li>
            </ul>
        </nav>
    </div>
</div>